.hero__avatar {
  box-sizing: border-box;
  width: calc(113 / 267 * 100%);
  max-width: 240px;
  border: thick solid #fff;
  border-radius: 50%;
  margin-bottom: 17px;
}

@media screen and (min-width: 1280px) {
  .hero__avatar {
    max-width: 384px;
  }
}
